<div id="top-container" class="container text-center">
<h1 id="leader" class="text-center">LEADERS</h1>
		<a href="/" class="btn btn-default ctn-game">Home</a>
	<div id="inner-container" class="col-sm-offset-3 col-sm-6">
		<% @scores.each do |info| %>
			<section class="leader-board">
				<span class="score-num"> <%= info.player  %> </span>
				<span class="score-num"> <%= info.total  %> </span>
			</section>
		<% end %>
		<br>
	</div>
</div>

 <%= javascript_include_tag "score" %> 