<div class="modal fade  text-center" id="darkWinner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      	<p class='h1 winner-sign'></p>
      		<label>Name</label>
      	<input id="alias" type='text' placeholer='alias'>
      	<button type="button" class="btn btn-default ctn-game" id="add-score">Add Score</button>
      </div>
      <div class="modal-footer">
        <a type="button" href="/scores" class="btn btn-default ctn-game col-sm-offset-3 col-sm-6" >Leaderboard</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade  text-center" id="darkLoser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body text-center">
      	<p class='h1 loser-sign'></p>
      		<label>Name</label>
      	<input id="alias" type='text' placeholer='alias'>
      	<button type="button" class="btn btn-default ctn-game" id="add-score">Add Score</button>
      </div>
       <div class="modal-footer">
        <a type="button" href='/' class="btn btn-sm btn-default ctn-game col-sm-offset-3 col-sm-6 play-again">PLAY AGAIN?</a>
        <!-- <a type="button" href="/" class="btn btn-default ctn-game" >Home</a> -->
      </div>
    </div>
  </div>
</div>

<!-- <div id="dark"></div> -->

 <%= javascript_include_tag "dark" %> 
