<div class="modal fade  text-center" id="darkWinner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      	<p class='h1'>WINNER!!</p>
      		<p class='h1 loser-sign'></p>
      		<label>Name</label>
      	<input id="alias" type='text' placeholer='alias'>
      	<button type="button" class="btn btn-default" id="add-score">Add Score</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade  text-center" id="darkLoser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body text-center">
      	<p class='h1 loser-sign'></p>
      		<label>Name</label>
      	<input id="alias" type='text' placeholer='alias'>
      	<button type="button" class="btn btn-default" id="add-score">Add Score</button>
        <a type="button" href='/' class="btn btn-sm btn-default col-sm-offset-3 col-sm-6 play-again">PLAY AGAIN?</a>
      </div>
    </div>
  </div>
</div>



<script>
	var eyes =[];
	var eyePosition = [
		[500,100,0.5],
		[600,320,0.5],
		[944,400,0.5],
		[100,350,0.5],
		[350,200,0.5],
		[800,150,0.5]
	]

	var score = 0;
	var scoreText; 

	var bossSpeed = 3;

	var darkGame = new Phaser.Game(1205 - 50 ,581 -50, Phaser.Canvas,'',{preload: preload, create: create, update: update})

	function preload(){
		darkGame.load.image('monster', './images/yellow-eye.png');
		darkGame.load.image('boss', './images/boss.png');
		darkGame.load.image('fireball', './images/red_ball.png');
		darkGame.load.image('man', './images/stickman.png');
		darkGame.load.image('darkground', './images/darkground.png');
		darkGame.load.image('gems', './images/diamond.png');
		darkGame.load.image('darkforms', './images/bossplatform.png');
		darkGame.load.image('pineapple','./images/pineapple.png');
	}

	function create(){
		darkGame.canvas.id = 'dark-canvas'
		darkGame.stage.backgroundColor = '#423';

		darkGame.physics.startSystem(Phaser.Physics.ARCADE);
		darkGame.physics.arcade.gravity.y = 200;

		// adding platforms
		grounds = darkGame.add.group();
		grounds.enableBody = true;

		ground = grounds.create(-100,520,'darkground');
		ground.body.allowGravity = false;
		ground.body.immovable = true;

		terrace = grounds.create(200, 400, 'darkforms');
		terrace.scale.setTo(0.3,0.3);
		terrace.body.allowGravity = false;
		terrace.body.immovable = true;

		terrace = grounds.create(750, 300, 'darkforms');
		terrace.scale.setTo(0.3,0.3);
		terrace.body.allowGravity = false;
		terrace.body.immovable = true;

		// add player to canvas
		players = darkGame.add.sprite(Math.floor(Math.random() * 1200), 0,'man');
		players.scale.setTo(0.1,0.1);
		darkGame.physics.arcade.enable(players);
		// players.body.allowGravity = true;
		players.body.bounce.y = 0.3;
		players.body.collideWorldBounds = true;

		// add background eyes
		for(var i=0; i<eyePosition.length; i++){
			var yellowEye = darkGame.add.sprite(eyePosition[i][0],eyePosition[i][1] ,'monster');
			yellowEye.anchor.setTo(eyePosition[i][2],eyePosition[i][2]);
			yellowEye.scale.setTo(eyePosition[i][2],eyePosition[i][2]);
			yellowEye.alpha = 0;
			darkGame.add.tween(yellowEye).to({alpha:1}, 5000,Phaser.Easing.Linear.None, true,0,8000,true);
		}


		bossy = darkGame.add.group();
		bossy.enableBody = true;

		boss = bossy.create(Math.floor(Math.random()*550),100,'boss');
		boss.scale.setTo(0.65,0.65);
		darkGame.physics.arcade.enable(boss);
		boss.body.allowGravity = false;
		boss.body.collideWorldBounds = true;

		// add diamonds
		gems = darkGame.add.group();
		gems.enableBody = true;

		for(var i =0; i < 20; i++ ){
			var gem = gems.create(i * 60, 0, 'gems');
			gem.scale.setTo(0.5,0.5);
			gem.body.gravity.y = 6;
			gem.body.bounce.y = 0.2 + Math.random() * 0.2;
		}

		// adding special obj for extra points
		orbs = darkGame.add.group();
		orbs.enableBody = true;

		// for(var i =0; i < 5; i++){
			var orb = orbs.create(Math.ceil(Math.random() * 1000 + 15), 0, 'pineapple');
			var pineapple = orbs.create(Math.ceil(Math.random() * 1000 + 500), 0, 'pineapple');
			var pine = orbs.create(Math.ceil(Math.random() * 1000 + 200), 0, 'pineapple');
			var apple = orbs.create(Math.ceil(Math.random() * 1000 + Math.floor(Math.random() * 300)), 0, 'pineapple');
	
			// orb.body.gravity.y = 6;
			// gem.body.bounce.y = 0.1;
		// }


		//adding keyboard code to move boss
		upKey = darkGame.input.keyboard.addKey(Phaser.Keyboard.UP);
    downKey = darkGame.input.keyboard.addKey(Phaser.Keyboard.DOWN);
    leftKey = darkGame.input.keyboard.addKey(Phaser.Keyboard.LEFT);
    rightKey = darkGame.input.keyboard.addKey(Phaser.Keyboard.RIGHT);
    spaceBar = darkGame.input.keyboard.addKey(Phaser.Keyboard.SPACEBAR)

  	lasers = darkGame.add.group();
  	lasers.enableBody = true;

    laserEye = function(size,xVelocity, yVelocity){
    	var laser_array = ['fireball','fireball','fireball','fireball','fireball','fireball',
    	'fireball'];
    	random_laser = laser_array[Math.floor(laser_array.length * Math.random())];
    	laser = lasers.create(boss.x + 100, boss.y + 120,random_laser);
    	
    	darkGame.physics.arcade.enable(laser);
    	
    	laser.body.immovable = true;
    	laser.scale.setTo(size,size);
    	laser.body.velocity.x = xVelocity;
    	laser.body.velocity.y = yVelocity;
    	return laser;
    }

    laserEye2 = function(size,xVelocity, yVelocity){
    		var laser_array = ['fireball','fireball','fireball','fireball','fireball','fireball',
    	'fireball'];
    	random_laser = laser_array[Math.floor(laser_array.length * Math.random())];

    	laser = lasers.create(boss.x + 215, boss.y + 120,random_laser);
 
    	darkGame.physics.arcade.enable(laser);
    	laser.body.immovable = true;
    	laser.scale.setTo(size,size);
    	laser.body.velocity.x = xVelocity;
    	laser.body.velocity.y = yVelocity;
    	return laser;
    }
    setTimeout(function(){
    	darkGame.add.tween(boss).to({ x: darkGame.world.width - 400}, 4000, Phaser.Easing.Quadratic.InOut, true, 0, 3000, true);
    	setInterval(function(){
    		laserEye(0.5,-800, 800);
				laserEye2(0.5,-600, 600); 
    	}, 1000)	
    }, 2000)


    // add scoreboard 
		scoreText = darkGame.add.text(16,16,'score:0', {
			fontSize: '32px', fill: '#fff'
		});
	}

	function collectGems(player, gem){
		gem.kill();

		score += 75;
		scoreText.text = 'Score: ' + score;
	}

	function collectPineapple(player, orb){
		orb.kill();

		score += 150;
		scoreText.text = 'Score: ' + score;
	}


	function death(){
		players.kill();

		$('#darkLoser').modal('show');
	}

	function Winner(){
		if(score === 800){
			console.log('WINNER!!');
		}
	}

	$('#add-score').on('click', function(){
			var values = {
				score: {
					player: $('#alias').val(),
					total: score
				}
			}
		
			$.ajax({
				url: '/scores',
				method: 'POST',
				data: values,
				dataType: 'json',
				success: function(data){
					console.log(data);
				}
			})
	})

	function update(){
		darkGame.physics.arcade.collide(players, lasers, death, null, this);
		darkGame.physics.arcade.overlap(players, lasers, death, null, this);

		darkGame.physics.arcade.collide(players, gems, collectGems, null, this);
		darkGame.physics.arcade.overlap(players, gems, collectGems, null, this);

		darkGame.physics.arcade.collide(players, orbs, collectPineapple, null, this);
		darkGame.physics.arcade.overlap(players, orbs, collectPineapple, null, this);


		darkGame.physics.arcade.collide(gems, grounds);
		darkGame.physics.arcade.collide(orbs, grounds);

			
		if (upKey.isDown){
			players.y-= bossSpeed;
		}else if(downKey.isDown){
			players.y+= bossSpeed;
		} 
		if (leftKey.isDown){
			players.x-= bossSpeed;
		}else if (rightKey.isDown){
			players.x+= bossSpeed;
		}

		Winner();

	}

		

	


</script>