<div class="container" id="top-wrap">
  <div class='row'>
    <div class="site-wrapper text-center">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner cover">
          <h1 class="cover-heading">FEAR<br/>FURY</h1>
          <p class="lead text-center">
            <a href="/heights" class="btn btn-lg btn-default ctn-game">PLAY</a>
            <a href="/scores" class="btn btn-lg btn-default ctn-game" >Leaderboard</a>
          </p>
        </div>
        <div class="directions">
          <p>Controlls</p>
          <div>
            
          </div>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>Akosua Kernizan 2015 &copy;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div> -->

<!-- <div id ="home"></div> -->


 <%= javascript_include_tag "home" %> 
