body{
	background: #00B4FF;
}
.new-div{
	width: 100%;
	height: auto;
	color: white;
	z-index: 2;
	margin-top: 100px;
}
#akosua-canvas{
	position: absolute;
	background: #00B4FF;
	z-index: 0
}

.navbar{
	background: #00B4FF;
	border-bottom: none;
}

#main-nav li a {
	color: white;
	font-size: 1.2em;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default:hover .navbar-toggle:hover {
  border-color: #fff;
  background: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border: none; 
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #E0336A;
}

#top-nav-main{
	margin: 0;
	border-radius: 0;
	padding: 0;
	width: 100%;
	border: none;
}

#name{
	color: #E0336A;
	font-size: 700%;
	font-family: 'Helvetica Neue';
	position: relative;
	margin-top: 15% ;
	z-index: 2;
}

#sub-text{
	font-size: 50%;
}
